CONFIG = {
    'working_dir': '/usr/local/sbin',
    'args': (
        '--bind={{ ad_server_ip_address | default('10.0.0.254') }}:80',
        '--workers=4',
        '--log-level=info',
        'ad_server',
    ),
}
