---

- name: Install git
  apt: pkg={{ item }} state=present
  with_items:
    - git-core
  when: ansible_distribution == 'Debian' and
    ansible_distribution_version <= '7.0'

- name: Install git
  apt: pkg={{ item }} state=present
  with_items:
    - git
  when: ansible_distribution != 'Debian' and
    ansible_distribution_version > '7.0'

- name: Install gitk
  apt: pkg={{ item }} state=present
  with_items:
    - gitk
  when: graphical
