# -*- coding: utf-8 -*-

# http://garethrees.org/2007/11/14/pngcrush/
# http://docs.gunicorn.org


import struct
import zlib
from binascii import unhexlify


def chunk(type, data):
    return (struct.pack('>I', len(data)) + type + data
            + struct.pack('>i', zlib.crc32(type + data)))


def application(environ, start_response):
    png = (b'\x89PNG\r\n\x1A\n'
          + chunk(b'IHDR', struct.pack('>IIBBBBB', 1, 1, 8, 6, 0, 0, 0))
          + chunk(b'IDAT', unhexlify(b'789c6300010000050001'))
          + chunk(b'IEND', b''))

    start_response('200 OK', [('Content-Type', 'image/png'),
                              ('Content-Length', str(len(png)))])
    return iter([png])
