domain-needed
bogus-priv
filterwin2k
local=/{{ domain_name }}/
interface={{ lan_interface_name | default('eth0') }}
interface={{ wifi_interface_name | default('wlan0') }}
expand-hosts
domain={{ domain_name }}
dhcp-range={{ lan_interface_name | default('eth0') }},{{ lan_dhcp_range_start | default('10.0.0.1') }},{{ lan_dhcp_range_end | default('10.0.0.50') }},{{ lan_interface_netmask | default('255.255.255.0') }},{{ lan_dhcp_lease_time | default('12h') }}
dhcp-range={{ wifi_interface_name | default('wlan0') }},{{ wifi_dhcp_range_start | default('10.1.0.1') }},{{ wifi_dhcp_range_end | default('10.1.0.50') }},{{ wifi_interface_netmask | default('255.255.255.0') }},{{ wifi_dhcp_lease_time | default('12h') }}
dhcp-authoritative
no-negcache
